@media screen and (min-width: 480px) {
  .hero {
    min-width: 410px;
    margin: 1.2em;
  }
  
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    min-width: 100%;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .header nav {
    background-color: #6b8c92;
    width: 100%;
    justify-content: center;
    margin: 0;
  }
}

.container {
  padding: 0;
  margin: 0;
}

/* ---- Header ----- */
.header {
  position: sticky;
  left: 0;
  top: 0;
  margin: 0;
  background-color: rgb(90, 131, 131);
}

.header a {
  text-decoration: none;
  font-weight: 600;
  font-family: sans-serif;
}

.logo h1 {
  margin-block: 0.5rem;
  font-weight: 700;
  font-family: satisfy, sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.2em;
  color: #fff;
}

.logo img {
  width: 2.5em;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0.5rem;
}

.icon {
  width: 1.4em;
  color:  rgb(255, 255, 255);
}

/* ---- Home page ---- */
.home {
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.hero {
  background-image: url(../assets/woman-7829496_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #e2e2e4;
  font-family: sans-serif;
}

.heroText {
  font-size: 2em;
  font-weight: 800;
  padding: 0.8em;
  text-align: left;
  max-width: 200px;
}

.home button {
  border: none;
  padding: 1em 1.2em;
  font-weight: 700;
}

.home > section {
  margin: 2em;
}

/* ---- Footer ---- */
footer {
  background-color: darkslategrey;
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
  padding: 2rem  1.5rem;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer > section {
  min-width: 320px;
}

footer .logo {
  margin: 1.2rem 0;
}

footer h3 {
  margin: 0.2rem 0;
  color: #fff;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 1rem;
}

footer li {
  padding: 0.2rem 0;
}

footer a {
  text-decoration: none;
  color: #9ac0ca;
  font-weight: 500;
}

.socialHandles a {
  display: flex;
  align-content: center;
  gap: 0.4rem;
}
