@media screen and (min-width: 480px) {
  .hero {
    min-width: 410px;
    margin: 1.2rem;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 480px) {
  .hero {
    min-width: 100%;
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .header nav {
    background-color: #6b8c92;
    width: 100%;
    justify-content: space-evenly;
    margin: 0;
  }
}

.container {
  padding: 0;
  margin: 0;
}

/* ---- Header ----- */
.header {
  position: sticky;
  left: 0;
  top: 0;
  margin: 0;
  background-color: rgb(90, 131, 131);
  z-index: 2;
}

.header a {
  text-decoration: none;
  font-weight: 600;
  font-family: sans-serif;
}

.logo h1 {
  margin-block: 0.4rem;
  font-weight: 700;
  font-size: 1.6rem;
  font-family: satisfy, sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  color: #fff;
}

.logo img {
  width: 2.8rem;
}

.header nav {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  padding: 0.6rem;
}

.icon {
  width: 1.4rem;
  color: rgb(255, 255, 255);
}

.itemsInCart {
  padding: 0.15rem;
  border-radius: 0.12rem;
  color: #cef7f7;
  font-weight: 500;
  font-size: 0.8rem;
  background-color: #492626;
  position: relative;
  left: -0.2rem;
  top: -0.1rem;
}

/* ---- Home page ---- */
.home,
.shop {
  padding: 0.5rem;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.hero {
  background-image: url(../assets/woman-7829496_1280.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #e2e2e4;
  font-family: sans-serif;
}

.heroText {
  font-size: 2rem;
  font-weight: 800;
  padding: 0.8rem;
  text-align: left;
  max-width: 200px;
}

.home button {
  border: none;
  padding: 1rem 1.2rem;
  font-weight: 700;
}

.home > section {
  margin: 0.5rem;
}

.items {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 0.5rem;
  background-color: #fff;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.items::-webkit-scrollbar {
  display: none;
}

.productList {
  margin: 1rem 0.5rem;
}

.productList > h3 {
  text-transform: capitalize;
  background-color: #ce3c3c;
  margin: 0;
  color: #eee5e5;
  padding: 0.5rem;
  font-family: sans-serif;
  font-weight: 700;
}

.productList > section {
  display: flex;
  align-items: center;
  margin: 0 -2rem;
}

.scrollBtn {
  border: none;
  border-radius: 0.4rem;
  margin: 0;
  padding: 0.8rem;
  background-color: rgba(0, 0, 0, 0.664);
  color: #f8f1f1;
  z-index: 1;
  bottom: 0.6rem;
}

.scrollLeft {
  position: relative;
  left: 1.5rem;
}

.scrollRight {
  position: relative;
  right: 1.5rem;
}

.items {
  scroll-behavior: smooth;
}

.product {
  max-width: 8rem;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: #fff;
  font-family: sans-serif;
}

.product:hover {
  transition: transform .3s;
  transform: scale(1.05);
}

.product img {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0.4rem 0 0 0.4rem;
}

.product > h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.4rem;
  margin: 0;
  font-size: 1rem;
}

.product > div {
  margin: 0.2rem;
  font-size: 0.9rem;
}

.product > section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product button {
  border: none;
  padding: 0.2rem;
  background: #bdf1f1;
}

/* ---- Footer ---- */
footer {
  background-color: darkslategrey;
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
  padding: 2rem 1.5rem;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

footer > section {
  min-width: 320px;
}

footer .logo {
  justify-content: center;
}

footer h3 {
  margin: 0.2rem 0;
  color: #fff;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0.5rem 0 1rem;
}

footer li {
  padding: 0.2rem 0;
}

footer a {
  text-decoration: none;
  color: #9ac0ca;
  font-weight: 500;
}

.socialHandles a {
  display: flex;
  align-content: center;
  gap: 0.4rem;
}

footer section:last-child {
  text-align: center;
}
