@font-face {
  font-family: 'LilitaOne Regular';
  src: url(../assets/fonts/LilitaOne-Regular.ttf);
  font-weight: 700;
}

@media  screen and (max-width: 480px) {
  .header h1 {
    text-align: center;
    padding: 0.6rem;
  }

  .header nav {
    background-color: var(--tetiary-background);
    padding: 0.6rem;
  }

  .bannerImg {
    min-width: 100%;
  }
}

@media screen and (min-width: 480px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0.6rem 1rem;
  }

  .header {
    justify-content: space-between;
  }

  .bannerImg {
    max-width: 22rem;
  }
}

.header {
  background-color: var(--secondary-background);
  color: aliceblue;
  text-align: center;
}

.header h1 {
  font-size: 1.8rem;
  margin: 0;
  font-family: 'LilitaOne Regular';
}

.header nav {
  display: flex;
  justify-content: space-around;
  gap: 1.4rem;
}

.header li {
  list-style: none;
}

.headerIcon {
  width: 1.5rem;
  color: #fcf6f6;
}

.header form {
  border: none;
  border-radius: 2rem;
  background-color:#40a0c9;
  display: inline-flex;
  align-items: center;
  margin: 0.8rem;
}

.header form input {
  background-color: transparent;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 2rem 0 0 3rem;
  outline: none;
  color: rgb(255, 255, 255);
  font-weight: 500;
}

.header form button {
  background: transparent;
  border: none;
  color: rgb(255, 255, 255);
  margin: 0.2rem;
}

.header form ::placeholder {
  color: #a6d5e9;
}

.header a,
.footer a {
  text-decoration: none;
}

.footer {
  font-family: sans-serif;
  background-color: var(--primary-background);
}

.footer > section {
  padding: 2rem 1rem;
}

.footer h1 {
  font-family: 'LilitaOne Regular';
}

.footer > section:nth-child(1) form {
  display: inline-flex;
  background-color: #fff;
  border-radius: 2rem;
}

.footer section:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-content: center;
  gap: 1rem;
  color: #f0ebeb;
  background: var(--secondary-background);
}

.footer section:nth-child(2) h3 {
  color: #ffffff;
}

.footer section:nth-child(2) > div {
  margin-inline:  1rem;
}

.footer input{
  border: none;
  background-color: transparent;
  padding: 0.8rem;
  outline: none;
  font-size: 0.8rem;
}

.footer input[type=email] {
  max-width: 150px;
}

.footer input[type=submit] {
  font-weight: 600;
  color: #000000;
  border-radius: 2rem;
  margin: 0;
  text-shadow: 3px 3px 4px var(--secondary-background);
}

.footer h3 {
  margin: 0 0 0.2rem;
  font-weight: 700;
  font-size: 1.3rem;
}

.footer ul {
  list-style: none;
  padding: 0;
  font-weight: 600;
  margin: 0.1;
}

.footer li {
  padding: 0.25rem;
}

.footer a {
  color: #f0ebeb;
}

.footer address {
  display: inline;
}

.banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.banner p {
  text-align: center;
  font-weight: 600;
  font-size: x-large;
  line-height: 1.6rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.banner button {
  background-color: var(--secondary-background);
  color: #ffffff;
  border: none;
  padding: 0.8rem 0.8rem;
  margin: 1rem;
  font-weight: 600;
  font-size: medium;
}
