:root,
body,
.root {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

body {
  background: url('../assets/ian-talmacs-aQOm_2cadQs-unsplash.jpg') no-repeat fixed;
  background-size: cover;
}

@font-face {
  font-family: satisfy;
  src: url(../assets/fonts/Satisfy-Regular.ttf);
}
