:root,
body,
.root {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: satisfy;
  src: url(../assets/fonts/Satisfy-Regular.ttf);
}

main {
  padding: 0.3rem;
  background-color: rgb(236, 238, 240);
}

button {
  background-color: #fff;
}
